<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            main {
                width: 80%;
                margin: auto;
                padding: 15px;
                top: 12px;
            }
            main img{
                width: 300px;
                margin-right: 10px;
                position: relative;
                float: left;
        }
            main p{
                list-style-type: none;
                margin-left: 15%;
                margin: 0 10px 0 0;
    }
            main submit{
                display: inline-block;
                float: left;
                list-style-type: none;
                margin: 0 10px 0 0;
            }

        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <header>
            <h1>Welcome to your profile, <%= user.first_name %></h1>
        </header>
        <main>
        <h2 class="large">Personal Info</h2>
            <img src="<%= user.image %>0"/>
        <main p>
        <div class="account--box">
        
        <div class="account--form form--fancy"><form class="form--checkout" _lpchecked="1"><div class="form--fancy-wrapper">
        <div class="form--fancy   valid col-half"><input type="text" name="firstName" required="" value='<%= user.first_name %>'><label>First name</label></div>
        
        <div class="form--fancy   valid col-half">
        <input type="text" name="lastName" required="" value='<%= user.last_name %>'><label>Last name</label></div></div>

             <div class="form--fancy   valid col-half">
        <input type="text" name="company" required="" value='<%= user.company %>'<label>company</label></div></div>
        
        <div class="form--fancy-wrapper"><div class="form--fancy   valid ">
        <input type="text" name="email" required="" autocapitalize="none" value='<%= user.email %>'<label>Email Address</label>

         <div class="form--fancy-wrapper"><div class="form--fancy   valid ">
        <input type="text" name="googleId" required="" autocapitalize="none" value='<%= user.googleId %>'<label>Google Id</label>
        
         <div class="form--fancy-wrapper"><div class="form--fancy   valid ">
        <input type="text" name="phone" required="" autocapitalize="none" value='<%= user.phone %>'<label>Phone</label>
        </div></div>
        
        <div class="auth--form-wrapper auth--form-submit form--fancy-center">
         </main p>

        <!--submit-->
        <main submit>
        <div class="auth--form-col"><button type="submit" class="btn btn--black">Save Updates</button></div>
         </main submit>
        </form>
        </div></div>
       
        </main>
    </body>
</html>